# Node modules (handled via package manager)
node_modules/

# Turbo cache
turbo/

# Build outputs
.next/
dist/
out/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables (Important!)
.env
.env.local
.env.development.local
.env.production.local
.env.test

# Editor/IDE settings
.vscode/
.idea/
.DS_Store
Thumbs.db

# TypeScript build outputs
*.tsbuildinfo

# Jest cache & test coverage
.jest/
coverage/

# Lerna
.lerna/

# Yarn & pnpm
.yarn/*
.pnpm-store/
.pnpm-debug.log

# ESLint cache
.eslintcache

# Prettier cache
.prettiercache

# Storybook
.storybook-out/

# Docker
.dockerignore
docker-compose.override.yml

#Rust
.anchor
.DS_Store
target
**/*.rs.bk
node_modules
test-ledger
.yarn
